@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins , sans-serif;
}

html,body{
    scroll-behavior: smooth;
}

.section_main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 550px;
    border-radius: 15px;
    transform: transition 0.3s, box-shadow 0.3s, bacakground-color 0.3s;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    padding-left: 40px;
}

.section_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

.header{
    font-size: 40px;
    padding-left: 30px;
    font-weight: 700;
}

.section_logo img{
    height: 90px;
    width: 90px;
}

.section_login {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.section_login form input[type="email"],
.section_login form input[type="password"] {
    width: 280px;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.section_login form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.section_login form button a{
    text-decoration: none;
    color: white;
}

.section_login button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.section_login button a{
    text-decoration: none;
    color: white;
}

.section_login input[type="checkbox"] {
    margin: 10px;
}

.section_login p {
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
}

.section_login hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid black;
}

.section_login .section_links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.section_login .section_links a {
    color: #0056b3;
    font-size: 24px;
    transition: color 0.3s ease;
    list-style: none;
    text-decoration: none;
}

footer p{
    text-align: center;
    color: #64748b;
    font-size: medium;
}
